@model IEnumerable<AutenticacionPersonalizada.Models.Pez>

@{
    ViewBag.Title = "title";
   
}

<h2>Bienvenido @User.Identity.Name</h2>

<h3>Peces</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
        </tr>
    }
</table>